body {
     background-color: #47d1d1;
}

div.keltainen-div {
    background-color: #ccff33;
    margin-left: 200px;
    color: red;
}

.margin-tyyli {
    margin-top: 10px;
}

img.kuva-tyyli {
    width: 100px;
    height: 50px;
}

#mallikappale {
    background-color: green;
}

#toinen-div {
    background-color: red;

    div.tyylikas-div {
        height: 100px;
        text-align: center;
        background-image: linear-gradient(to bottom, yellow, #dddd00 50%, orange);
    }
}
